extends layout.pug

block title
    title New Book

block content 
    h1 New Book
    form(action="/books/new", method="post")
        if errors
            h2(class="error") Oooops!
            ul(class="error")
                each error in errors
                    li= error.message

        p
            label(for="title") Title
            input(name="title", type="text", id="title", value=newBook ? newBook.title : "")
        p
            label(for="author") Author
            input(name="author", type="text", id="author", value=newBook ? newBook.author : "")
        p
            label(for="genre") Genre
            input(name="genre", type="text", id="genre", value=newBook ? newBook.genre : "")
        p
            label(for="year") Year
            input(name="year", type="text", id="year", value=newBook ? newBook.year : "")
        p
            input(type="submit", value="Create New Book")
        p
            a(class="button", href="/") Cancel

